.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 20px; 
  box-sizing: border-box; 
}

/* General Button Styling */
button,
.btn,
.button-container .btn,
.recipe-card-profile button {
  background-color: darkslategrey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

button:hover,
.btn:hover,
.button-container .btn:hover {
  background-color: #2f4f4f;
}

/* General Recipe Card Styling */
.recipe-card,
.recipe-card-view,
.recipe-card-profile {
  background-color: darkseagreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

/* Recipe Card Specific Styling */
.recipe-card {
  width: calc(25% - 100px); 
  height: 175px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-card img {
  width: 100%;
  height: auto;
  max-height: 125px;
  object-fit: cover;
  border-radius: 8px;
  padding: 15px;
}

/* Recipe Card View Specific Styling */
.recipe-card-view {
  margin: 10px auto;
  width: 70%;
  align-items: center;
}

.recipe-card-view img {
  padding: 15px;
  border-radius: 8px;
  width: 60%;
}


.recipe-card-view p,
.recipe-card-view ul,
.recipe-card-view li {
  font-size: 14px;
  line-height: 1.6;
}

.recipe-card-view h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.recipe-card-view h5 {
  font-size: 16px;
  margin-top: 20px;
}

/* Recipe Card Profile Specific Styling */
.recipe-card-profile {
  padding: 10px;
  margin: 5px;  
  width: calc(20% - 20px); 
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card-profile h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-card-profile select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 4px;
}

/* Navbar Styling */
.navbar {
  justify-content: center;
  display: flex;
  background-color: white;
  padding: 10px;
}

.navbar a {
  color: darkseagreen;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: green;
}

/* Filter Search Container Styling */
.filter-search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-search-container select,
.filter-search-container input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  box-sizing: border-box;
}

@media screen and (max-width: 1068px) {
  .recipe-card {
    width: calc(33.33% - 20px); 
  }
}


@media screen and (max-width: 768px) {
  .recipe-card {
    width: calc(50% - 20px); 
  }

  .recipe-card-profile {
    width: 100%;
    margin: 10px 0;
    height: auto;
  }

  .filter-search-container {
    flex-direction: column;
    gap: 10px;
  }

  .filter-search-container select,
  .filter-search-container input {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {
  .recipe-card {
    width: calc(70% - 20px); 
    font-size: 10px;
  }

  .recipe-card img {
    width: 100%; 
    padding: 8px; 
  }


  .recipe-card-profile select {
    font-size: 12px;
    padding: 3px;
  }

  .recipe-card-profile button {
    font-size: 12px;
    padding: 5px;
  }

  .recipe-card-profile h2 {
    font-size: 14px;
  }

  .recipe-card-view img {
    width: 100%; 
  }
}

/* Recipe Container Styling */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
}

/* List Styling */
ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

h1, h2, h4 {
  margin: 20px;
}

/* Logo Styling */
.logo {
  width: 275px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 25px;
}

/* Logout Container Styling */
.logout-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  text-align: center; 
}

.ingredients-list li {
  margin-bottom: 5px; 
}
